.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 200px;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (max-width: 980px) {
  .main {
    grid-template-rows: 1fr auto;
  }

  .container {
    width: 100%;
    padding: 32px;
  }
}
